---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import ExperienceSection from "../components/ExperienceSection.astro";

---

<BaseLayout title="Active 24 | Gimnasio 24 horas">
  <Header />
  
  <!-- Aquí irían las demás secciones de tu sitio -->
  <!-- <section id="planes">...</section> -->
  <!-- <section id="servicios">...</section> -->
     <ExperienceSection />  
</BaseLayout>
